html, body, h1, ul, li, a, h1, button {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: inherit;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul, li {
  list-style: none;
}

a, button, #close {
  cursor: pointer;
}

button {
  padding: 10px 15px;
  margin-top: 30px;
}

button:hover {
  background: #e99aaf;
  box-shadow: inset 0 0 20px #d3899d;
}

body {
  box-sizing: border-box;
  text-align: center;
  background: rgba(231, 185, 199, 0.18);
  color: #d3899d; //#e7b9c7;
  margin: auto;
  font-family: Gloria Hallelujah;
  font-size: 20px;
}

h1 {
  font-weight: bold;
  font-size: 35px;
  text-decoration: underline;
}

div {
  /*position: relative;*/
  margin-top: 20px;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
}

section {
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  width: 900px;
  height: 760px;
  display: flex;
}

article {
  margin: auto;
  padding: 20px 40px;
  width: 350px;
  border-radius: 10px;
  background: #f3e7ea;
}

#close {
  position: absolute;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  justify-content: flex-end;
  left: 600px;
}

#instructions, #pause {
  display: none;
}

#pinata {
  background-image: url("../images/party.png");
}

.contact {
  width: 800px;
  margin: auto;
  font-size: 20px;
}

.contact ul {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.contact a {
  display: block;
  padding: 10px 20px;
}

.contact a:hover, button {
  color: #fff;
  background: #d3899d;
  border-radius: 5px;
  box-shadow: inset 0 0 20px #d4768f;
}
